/*Color*/
:root {
  --black: #101010;
  --green: #2F362F;
  --beige: #edeade;
  --grey: #C7C7C7;
  --yellow: #FFD130;
}

/*Font*/
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
:root { font-family: 'Inter var', sans-serif; }
}

body {font-family: 'Inter', sans-serif;
}

h1 {font-size: 4rem; 
  font-weight: 700; 
  color: var(--beige)}

h2 {font-size: 3rem; 
  font-weight: 700;}

h3 {font-size: 1.75rem; 
  font-weight: 700; 
  color:var(--black)}

h4 {font-size: 1.25rem; 
  font-weight: 600; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align items to the top of the page */
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default body margin */
}

.container {
  text-align: center;
}

.content-hero {
  padding: 10% 12%;
}

.content-section {
  padding: 6% 12%;
}


/*Header - Navbar*/
#brandfont {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;;
  z-index: 1000;
  background-color: var(--black);
}

#header-btn-bk{
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color:var(--beige) !important; 
  background-color: var(--black);
  font-weight: 600 !important;
}

#header-btn-yellow{
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color:var(--black) !important; 
  background-color: var(--yellow);
  font-weight: 600 !important;
}

.showHide { display:none; }

/* Desktop*/
@media screen and (min-width: 992px) {
  .showHide  { display: block; }
  #leftside > button { display: none; }
}





/* Hero Image */
.hero-image{
  position: absolute;
  background-image: url(../img/Banner01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text{
  text-align: left;
  color: var(--beige);
}

/* Buttons */
.lg-button-light {
  font-size: 1.25rem;
  padding: 12px 20px; /* Add padding to create space around the text */
  border-radius: 4px; /* Add rounded corners to the border */
}

.btn-bd-primary-light {
  --bs-btn-font-weight: 700;
  --bs-btn-color: var(--green);
  --bs-btn-bg: var(--beige);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--green);
  --bs-btn-hover-bg:#c1bcac;
  --bs-btn-hover-border-color: #{shade-color(var(--black), 10%)};
  --bs-btn-focus-shadow-rgb: var(--black);
  --bs-btn-focus-bg:var(--bs-btn-hover-bg);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: #{shade-color(var(--black), 20%)};
}

.lg-button-dark {
  padding: 12px 20px; /* Add padding to create space around the text */
  border-radius: 4px; /* Add rounded corners to the border */
}

.btn-bd-primary-dark {
  font-size: 1.25rem;
  --bs-btn-font-weight: 700 !important;
  --bs-btn-color: var(--beige);
  --bs-btn-bg: var(--green);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--beige);
  --bs-btn-hover-bg:#4b655c;
  --bs-btn-hover-border-color: #{shade-color(var(--black), 10%)};
  --bs-btn-focus-shadow-rgb: var(--black);
  --bs-btn-focus-bg:var(--bs-btn-hover-bg);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: #{shade-color(var(--black), 20%)};
}

.btn-bd-primary-dark-small {
  font-size: 1rem;
  --bs-btn-font-weight: 500 !important;
  --bs-btn-color: var(--beige);
  --bs-btn-bg: var(--green);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--beige);
  --bs-btn-hover-bg:#4b655c;
  --bs-btn-hover-border-color: #{shade-color(var(--black), 10%)};
  --bs-btn-focus-shadow-rgb: var(--black);
  --bs-btn-focus-bg:var(--bs-btn-hover-bg);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: #{shade-color(var(--black), 20%)};
}



/* feature-card*/
#feature-bg{
  background-color: var(--beige);
}
.card-style {
padding: 1.87rem 1.25rem;
gap: 0.75rem;
text-align: left;
background-color:var(--beige);
color: var(--green);
border-color: var(--green);
border-radius: 0.75rem;
border-width: 3px;}

/* contact*/
#contact-bg{
  background-color: var(--green);
  color:var(--beige);
}

.success-msg{
  display: none;
  border-radius: 0.75rem;
  padding: 1.87rem 1.25rem;
  background-color: var(--beige);
  color:var(--black)
}

/* footer*/
.footer{
  background-color: var(--black);
  color:var(--beige);
}

.required:after { content:" *"; color:var(--beige);}