/*Color*/
:root {
    --black: #101010;
    --green: #2F362F;
    --beige: #edeade;
    --grey: #C7C7C7;
    --yellow: #FFD130;
}

/*Font*/
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {font-family: 'Inter', sans-serif;
}

h1 {font-size: 4rem; font-weight: 700; color: var(--beige)}

h2 {font-size: 3rem; font-weight: 700;}

h3 {font-size: 1.75rem; font-weight: 700; color:var(--black)}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align items to the top of the page */
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default body margin */
}

#brandfont {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  text-align: left;
}

/* this is for the top margin of each page */
.mt-main{
  margin-top: 7em;
}

.ms-main{
  margin-left: 4.75rem;
}

/*Navbar*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--black);
}

.login-link {
  margin-right: 10px; /* Adjust the right margin for the "Login" link */
  padding: 5px 10px; /* Add padding to create space around the text */
  border-radius: 5px; /* Add rounded corners to the border */
  color: black !important; /* Change text color */
  background-color: var(--yellow);
  font-weight: normal !important;
}

#header-btn-yellow{
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color:var(--black) !important; 
  background-color: var(--yellow);
  font-weight: 600 !important;
}

/* Sidebar Section */
.sidebar {
  position: fixed;
  left: 0;
  top:56px;
  height: 100%;
  width: 13.5rem;
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  background-color: var(--green);
  white-space: nowrap;
  overflow-x: hidden;
  transition: 0.3s;
  z-index:1000;
}

.sidebar a{
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  padding: 0.75rem 6rem 0.75rem 0.75rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  color: var(--beige);
  display:flex;
}

.sidebar a:hover{
  color: var(--green);
  background-color: var(--grey);
}

.nav-link-active {
  background-color: var(--beige) !important;
  color: var(--green) !important;
 }

 .logout-link-position {
  position: absolute;
  bottom: 10%;
 }

/* Progress Line */
.progress-line {
  width: 600px;
  height: 1px;
  position: relative;
  display: flex;
  background-color: var(--beige);
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: var(--black);
}

.checkpoint {
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  border: 2px solid var(--black);
  background-color: var(--yellow);
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Section */
.btn-group {
  justify-content: space-between;
  gap: 40px;
  width: 800px;
  height: 50px;
  border-radius: 100%;
}

.btn {
  text-align: center;
  line-height: 0px;
  color: black;        /* Text color for the active link */
  background-color: var(--beige); /* Background color for the active link */
  border: 2px solid var(--black); /* Change the outline color to red */
  font-size: 16px;
  
}


.btn-submit
{
  text-align: center;
  line-height: 0px;
  color: black;        /* Text color for the active link */
  background-color: #EDEADF; /* Background color for the active link */
  border: 2px solid black; /* Change the outline color to red */
  font-size: 16px;
  justify-content: space-between;
  gap: 40px;
  height: 50px;
}

.btn:hover {
  background-color: var(--yellow);
  border: 2px solid var(--black);
  color: black;
}

.btn:focus, .btn:active {
  background-color: var(--yellow);
  border: 2px solid black;
  outline: none; /* Remove the default focus outline */
  box-shadow: none; /* Remove the default focus box-shadow */
}

.btn-active {
  background-color: var(--yellow); /* This style will be applied to the active button */
}

.disabled-button {
  background-color: grey !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}


/*Buttons used in event cards*/
.btn-event {
  font-size: 1rem;
  padding: 4px 20px; /* Add padding to create space around the text */
  margin-right:1rem;
  border-radius: 4px; 
  border-color: var(--green);
  background-color: #fff;
  font-weight: 500;
}

.btn-edit-disabled {
  font-size: 1rem;
  padding: 4px 20px; /* Add padding to create space around the text */
  margin-right:1rem;
  border-style: none;
  border-radius: 4px; 
  font-weight: 500;
  color: grey !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
  background-color: transparent;
}

.btn-delete {
  font-size: 1rem;
  padding: 4px 20px; /* Add padding to create space around the text */
  margin-right:1rem;
  color:#900000;
  border-style: none;
  border-radius: 4px; 
  font-weight: 500;
  background-color: transparent;
}

.btn-delete:hover {
  color:#490000;
  background-color: #eccbcb;
}

.btn-delete:focus, .btn-delete:active {
  color:#490000;
  background-color: #eccbcb;
}


.button-container {
  display: flex;
  justify-content: space-between;
}


/* Form Section */
.form-label1, .form-label2 {
  font-weight: bold; 
  color: black; 
  font-size: 16px;
}

.form-select, .form-control {
  border-width: 2px; 
  border-color: black; 
  height: 40px; 
}

.form-select{
  width: 500px;
}

.container-section {
  max-width: 800px;
  border-color: var(--black);
  border: 2px; 
  padding-top: 16px;
  padding-right:16px;
  padding-left:16px;
  padding-bottom:10px;
  background-color: var(--beige);
  border-radius: 4px;
  box-shadow: 1px 3px 5px var(--grey);
}

/*The below part are for login and registration page*/
input {
  box-sizing: border-box; /* Include padding and border in the width calculation */
  width: 100%;
  padding: 13px; /* padding for the username and password field */
  margin-bottom: 20px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

/* .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
} */


.submit-button {
  background-color: #C7C7C7; /* Set the initial background color */
  color: #000; /* Set the text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.submit-button:hover {
  background-color: #FFD130; /* Change the background color to yellow on hover */
  color: #000; /* Change the text color on hover */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: var(--black);
}

/*The above part are for login and registration page*/


/* Styles specificlly for Myevents*/
.event-card{
  width: 54rem;
  flex-shrink: 0;
  background-color: var(--beige);
}

.collapsible-container {
  display: flex;
  gap: 1rem;
}

.collapsible-content {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.p-color{
  color:#162f16;
}

/* Styles specificlly for FAQ*/
.faq-container {
  text-align: left;
  margin-left: auto;
  width: 80%; /* Adjust this as per your layout */
}

.faq-item {
  margin-bottom: 30px;
}

.faq-item h4 {
  font-weight: bold;
}

/* saveEvent styles */
.required-asterisk {
  color: red;
}

.event-container {
  display: flex !important;
  flex-direction: column !important;
  width:36rem;
  max-width: 100%;
  
 }
 
 @media (max-width: 768px) {
  .event-container {
    width: 100%;
  }
 }

 /* Progress Bar */
.container-progress {
  text-align: center;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

 .progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  max-width: 100%;
  width: 500px;
  align-items: center;
  font-weight: 600;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  border-bottom: 2px solid var(--grey);
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--grey);
  width: 100%;
  top: 12.5px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--grey);
  margin-bottom: 6px;
}


.stepper-item.completed .step-counter {
  background-color: var(--yellow);
  border: 2px solid var(--black);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--black);
  width: 100%;
  top: 12.5px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}