/*Color*/
:root {
    --black: #101010;
    --green: #2F362F;
    --beige: #edeade;
    --grey: #C7C7C7;
    --yellow: #FFD130;
}

/*Font*/
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {font-family: 'Inter', sans-serif;
}

h1 {font-size: 4rem; font-weight: 700; color: var(--beige)}

h2 {font-size: 3rem; font-weight: 700;}

h3 {font-size: 1.75rem; font-weight: 700; color:var(--black)}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align items to the top of the page */
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default body margin */
}

.container {
  text-align: left;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #101010;
}

.login-link {
  margin-right: 10px; /* Adjust the right margin for the "Login" link */
  padding: 5px 10px; /* Add padding to create space around the text */
  border-radius: 5px; /* Add rounded corners to the border */
  color: black !important; /* Change text color */
  background-color: yellow;
  font-weight: normal !important;

}

/* Sidebar Section */
#sidebar {
  position: fixed;
  top: 56px; /* Adjust the top offset to match the navbar height */
  left: 0;
  height: 100%;
  width: 250px; /* Adjust the width as needed */
  z-index: 1;
  padding-top: 20px;
  padding-right: 10px;
  background-color: #2F362F;
}

.nav-link.active {
  color: black;        /* Text color for the active link */
  background-color: whitesmoke; /* Background color for the active link */
  font-weight: bold;
}

.nav-link {
  color: whitesmoke; /* Change this color for the non-active links */
  font-weight: bold;
}


/* Progress Line */
.progress-line {
  width: 600px;
  height: 1px;
  position: relative;
  display: flex;
  background-color: #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: black;
}

.checkpoint {
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  border: 2px solid black;
  background-color: yellow;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Section */
.btn-group {
  justify-content: space-between;
  gap: 40px;
  width: 800px;
  height: 50px;
  border-radius: 100%;
}

.btn {
  text-align: center;
  line-height: 0px;
  color: black;        /* Text color for the active link */
  background-color: #EDEADF; /* Background color for the active link */
  border: 2px solid black; /* Change the outline color to red */
  font-size: 16px;
}

.btn:hover {
  background-color: yellow;
  border: 2px solid black;
  color: black;
}

.btn:focus, .btn:active {
  background-color: yellow;
  border: 2px solid black;
  outline: none; /* Remove the default focus outline */
  box-shadow: none; /* Remove the default focus box-shadow */
}

.btn-active {
  background-color: yellow; /* This style will be applied to the active button */
}

/* Form Section */
.form-label1, .form-label2 {
  font-weight: bold; 
  color: black; 
  font-size: 16px;
}

.form-select, .form-control {
  border-width: 2px; 
  border-color: black; 
  height: 40px; 
}

.form-select{
  width: 500px;
}

.container-section {
  max-width: 800px;
  border: none; 
  padding: 10px;
  background-color: #edeade;
}
